location            = "East US"
resource_group_name = "rg-pg18-lab"
name_prefix         = "pg18lab"

ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN4yu0MNApSqmpJTuOsNR4oJPkI0e1Lz6OM1O5qzU8zy wagnerbianchi@macbook-tigerdata.local"

admin_cidr_blocks = [
  "203.0.113.10/32"
]

tags = {
  environment = "lab"
  managed_by  = "terraform"
  workload    = "postgresql18"
  owner       = "Bianchi"
}